.body{
    margin: 0;
    padding: 0;
}  

.nawbar-container{
    width: auto;
    height: 70px;
    background-color: white;
    display: flex;
}

.img-logo{
    height: 40px;
    margin: 10px;
}

.text-1{
    font-size: 20px;
    color: black;
    padding-top: 18px;
}

.text-in{
    font-size: 9px;
}

.search-bar{
    height: 20px;
    width: 600px;
    margin-left: 70px;
    margin-top: 10px;
    background-color: white;
    padding-bottom: 20px;
    border: 3px solid black;
    border-radius: 30px ;
    position: relative;
	display: flex;
}

.text{
    margin-left: 20px;
    margin-top: 10px;
}

.search-logo{
    height: 30px;
    margin-left: -45px;
    margin-top: 17px;
    text-align: end;
    position: absolute;
}

.mike-logo{
    height: 30px;
    margin-top: 15px;
    margin-left: 20px;
}

.recorder{
    height: 30px;
    margin-top: 20px ;
    margin-left: 400px;
}

.notification{
    height: 30px;
    margin-top: 20px ;
    margin-left: 30px;
}

.profile{
    height: 30px;
    margin-top: 20px ;
    margin-left: 30px;
	border-radius: 50%;
}

.side-bar-section { 
    margin-left: 0;  
	left: 0%; 
	width: 250px; 
	float: left; 
	height: 100%; 
	z-index: 1;
	display: block; 
} 

.side-bar { 
	display: flex; 
	flex-direction: column; 
	margin-left: 0; 
	padding-left: 0; 
	width: 250px; 
	box-sizing: border-box; 
} 

.logos{
	margin-bottom: 25px;
}

.side-logo{
    height: 25px;
	margin-left: 35px;
	margin-bottom: 3px;
}

.side-name{
    font-size: 17px;
	margin-left: 30px;   
}  

.video-section { 
	margin: 10px 5px 0 5px; 
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: space-around; 
	margin-left: 255px;

} 

.video-container { 
	margin-top: 20px; 
	margin-bottom: 40px; 
} 

.images { 
	width: 295px; 
	height: 175px; 
	margin-bottom: 5px;
	border-radius: 10PX; 
} 

.video-description { 
	display: flex; 
	flex-direction: row; 
} 

.channel-dp-container-2 { 
	height: 35px; 
	width: 35px; 
	border-radius: 50%; 
	display: inline-block; 
	justify-self: flex-start; 
} 

.channel-dp-2 { 
	height: 100%; 
	width: 100%; 
	border-radius: 50%; 
	object-fit: cover; 
} 

.video-details { 
	width: 200px; 
	margin-top: 3px; 
	margin-left: 10px; 
	justify-self: flex-end; 
} 

.video-title { 
	margin: 0;
} 


@media screen and (min-width:300px) and (max-width: 500px) { 
	.video-description { 
		padding-left: 5px; 
		padding-right: 5px; 
	}
	
	.img-logo{
		height: 35px;
		margin: 8px;
	}

	.search-bar{
        display: none ;
	}

	.side-bar-section{
        display: none;
	}

	.search-logo{
		display: flex;
		margin-left: 30px;
	}

	.mike-logo{
		margin-left: 85px;
	}

	.recorder{
		margin-left: 40px;

	}

	.text-1{
		font-size: 15px;
		padding-top: 20px;
		margin-left: 1px;
	}

	.video-section{
		margin-left: 0;
	}

	.text-in{
		display: none;
	}
} 

@media screen and (min-width:501px) and (max-width: 600px) {

	.search-bar{
		display: none;
	}
	.search-logo{
		display: flex;
		margin-left: 60px;
	}

	.mike-logo{
		margin-left: 160px;
	}

	.text-in{
		display: none;
	}

	.recorder{
		margin-left: 40px;

	}

	.text-1{
		font-size: 15px;
		padding-top: 20px;
		margin-left: 1px;
	}
	
}



@media screen and (min-width:601px) and (max-width: 900px) {

.search-bar{
	display: none;
}

.text{
	display: none;
}

.search-logo{
	margin-left: 100px;
}

.mike-logo{
	margin-left: 230px;
}

.recorder{
    margin-left: 80px;
}

.text-in{
	display: none;
}

}

@media screen and (min-width:901px) and (max-width: 1200px) {

	.recorder{
		margin-left: 140px;
	}	

	.text-in{
		display: none;
	}
}

@media screen and (min-width:1201px) and (max-width:1287px) {

	.recorder{
		margin-left: 140px;
	}	

	.text-in{
		display: none;
	}
}




